@import "./base";

.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: grid;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav__btn {
  color: #fff;
  font-size: 4.5rem;

  @media only screen and (max-width: $bp-large) {
    margin-right: 3rem;
  }
}
